<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="author" content="SignForge">
	<meta name="description" content="SignForge is a smart platform for creating, managing, and exporting professional business documents such as invoices, quotes, delivery notes, and purchase orders. Simplify your workflow with automation and modern PDF generation.">
	<meta name="keywords" content="invoice generator, quote builder, delivery note, purchase order, PDF automation, business documents, commercial paperwork, document generator, invoice PDF, quote PDF, professional invoices, document templates, B2B tools, SaaS document management, business workflow, secure PDF, printable documents, billing tool, document creation">
	<meta name="robots" content="index, follow">
	<meta name="language" content="en">

	<meta property="og:title" content="SignForge - Business Document Generator">
	<meta property="og:description" content="SignForge helps you generate invoices, quotes, delivery notes, and more — all in professional PDF format. Designed for businesses and freelancers.">
	<meta property="og:image" content="{{ asset('template/logos/logo.png')}}">
	<meta property="og:url" content="{{ app.request.uri }}">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="SignForge">

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@SignForgeApp">
	<meta name="twitter:title" content="SignForge - Business Document Generator">
	<meta name="twitter:description" content="Easily create and export professional business documents like invoices and purchase orders with SignForge.">
	<meta name="twitter:image" content="{{ asset('template/logos/logo.png')}}">


		<title>
		{% block title %}SignForge — Create Invoices, Quotes & Commercial Documents{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('template/logos/favicon.ico')}}">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script>
				function onChangeLanguage(value)
				{
					if (value === "en") {
							window.location.href = "/change/locales/en";
							} else if (value === "fr") {
							window.location.href = "/change/locales/fr";
							} else if (value === "de") {
							window.location.href = "/change/locales/de";
							}else if (value === "es") {
							window.location.href = "/change/locales/es";
							}

				}
			</script>
		{% endblock %}
	</head>
	<body class="bg-gray-50 sm:mx-0 md:mx-6">


		{% block body %}{% endblock %} 
	
	</body>
	</html>
