<nav class="bg-white dark:bg-gray-900 fixed w-full z-40 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
	<div class="w-full flex flex-wrap items-center justify-between mx-auto p-4">
		<a href="{{ path('app_home')}}" class="flex items-center space-x-3 rtl:space-x-reverse">
			<img src="{{ asset('template/logos/logo.png')}}" class="w-36" alt="signForge"/>
		</a>
		<button data-collapse-toggle="mega-menu-full-image" type="button" class="inline-flex items-center p-2  justify-center text-sm text-gray-500 rounded-lg md:hidden focus:outline-none " aria-controls="mega-menu-full-image" aria-expanded="false">
			<span class="sr-only">Open main menu</span>
			<img src="{{ asset('template/logos/menub.svg')}}" class="w-6 text-gray-900"/>
		</button>
		<div id="mega-menu-full-image" class="items-center justify-between hidden  w-full md:flex md:w-auto md:order-1">
			<ul class="flex flex-col mt-4 font-medium md:flex-row md:mt-0 md:space-x-8 rtl:space-x-reverse">
				<li class="py-0 lg:py-2 border-b-2 border-transparent hover:border-blue-400 transition-all duration-700 ">
					<a href="{{ path('app_home')}}" class="block py-2 px-3 text-gray-900 text-md  md:hover:bg-transparent md:border-0  md:p-0 dark:text-gray-900 md:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700" aria-current="page">
						Home
					</a>

				</li>
				<li class="py-0 lg:py-2 border-b-2 border-transparent hover:border-blue-400 transition-all duration-700 ">
					<a href="{{ path('app_home')}}" class="block py-2 px-3 text-gray-900 text-md  md:hover:bg-transparent md:border-0  md:p-0 dark:text-gray-900 md:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700" aria-current="page">
						Presentation
					</a>

				</li>

				<li class="py-0 lg:py-2 border-b-2 border-transparent hover:border-blue-400 transition-all duration-700 ">
					<a href="{{ path('app_login')}}" class="block py-2 px-3 text-gray-900 text-md   md:hover:bg-transparent md:border-0  md:p-0 dark:text-gray-900 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">
						Login
					</a>
				</li>
				<li class="py-0 lg:py-2 border-b-2 border-transparent hover:border-blue-400 transition-all duration-700 ">
					<a href="{{ path('app_register')}}" class="block py-2 px-3 text-gray-900 text-md   md:hover:bg-transparent md:border-0  md:p-0 dark:text-gray-900 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">
						Register
					</a>
				</li>
				
				
			</ul>
		</div>
	</div>


</nav>
